.card {
  width: 45%;
  position: relative;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  text-align: center;
}
