.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.values {
  display: flex;
  margin-bottom: 60px;
}

.item {
  display: flex;
  margin-right: 20px;
  flex-direction: column;
  align-items: center;
}
